/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

h2.titulo {
    color: white;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #00b4d8;
}

body {
    background-color: black;
    height: 100vh;
    overflow-x: hidden;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* BARRA LATERAL */

.btn-barra-lateral i{
    color: #00b4d8;
    font-size: 40px;
}

.barra-lateral{
    background-color: #000000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    transition: .2s;
}

.barra-lateral.abrir-barra{
    width: 70%;
}

.barra-lateral.abrir-barra ~ .overlay-barra{
    display: block;
}


.barra-lateral .btn-fechar{
    color: #eff1f1ad;
    font-size: 40px;
    padding: 20px 8%;
}

.barra-lateral nav ul{
    text-align: right;
}

.barra-lateral nav ul li a{
    color: white;
    font-size: 20px;
    font-weight: 200;
    padding: 20px 4%;
    display: block;

}

.barra-lateral nav ul li a:hover{
    background-color: #00b4d8;
    color: #000000;
}

.overlay-barra{
    background-color: #000000c2;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

/* ESTILO CABEÇÁRIO */

header {
    padding-top: 20px;
    top: 0;
    left: 0;
    width: 100%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: rgb(148, 148, 148);
    text-decoration: none;
    display: inline-block;
}

header a:hover {
    color: #ffff;
    transform: scale(1.05);
    transition: .2s;
}

header nav.menu-desktop ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    /* alinha as li */
    padding: 0 40px;
}

header .interface .logo img{
    width: 90px;
    height: auto;
    padding-top: 12px;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    background-color: #00b4d8;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    box-shadow: 0px 0px 8px #00b4d8;
    transform: scale(1.05);
}

/* ESTILO TOPO DO SITE */

section.topo-do-site {
    padding: 40px 4%;

}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site .txt-topo-site h1 {
    color: white;
    font-size: 40px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #00b4d8;
    font-size: 80px;
    letter-spacing: 10px;
    animation: blink 2s infinite alternate;
}

.topo-do-site .txt-topo-site p {
    color: white;
    font-size: 18px;
    margin: 40px 0px;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

@keyframes blink {
    0% {
        color: transparent;
    }

    100% {
        color: 100%;
    }
}

/* ESTILO DAS HARD SKILLS */

.skills-carousel {
    overflow: hidden;
    display: flex;
   
}

.skills-carousel::-webkit-scrollbar {
    display: none;
}

section.skills .skills-carousel .group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 60px;
    animation: slideSkills 18s linear infinite;
    padding-right: 3em;
    
}

@keyframes slideSkills {
    from {
        translate: -100%;
    }

    to {
        translate: 0%;
    }
}

.skill-logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
}


section.skills {
    padding: 40px 4%;
}

section.skills .flex {
    gap: 60px
}

.skills .skills-box {
    color: white;
    padding: 40px;
    border-radius: 25px;
    margin-top: 40px;
    transition: 1s;
}

.skills .skills-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.726);
}

.skills .skills-box i {
    font-size: 65px;
}

.skills .skills-box h3 {
    font-size: 26px;
    margin: 15px 0px;
}

.skills .skills-box .txt-animado h3 {
    font-size: 26px;
    margin: 15px 0px;
}

.skills .skills-box .txt-animado span {
    position: relative;

}

.txt-animado span::before {
    content: "";
    color: #00b4d8;
    animation: palavras 20s infinite;
}

.txt-animado span::after {
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid #00b4d8;
    right: 20px;
    animation: cursor 0.8s infinite, typing 20s steps(15) infinite;
    right: -5px;
    width: calc(100% + 12px);
    background-color: black;

}

@keyframes palavras {

    0%,
    20% {
        content: "Spring Boot";
    }

    21%,
    40% {
        content: "Node.js";
    }

    41%,
    60% {
        content: "Java";
    }

    61%,
    80% {
        content: "HTML/CSS";
    }

    81%,
    100% {
        content: "SQL";
    }
}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 12px);
    }
}

@keyframes cursor {
    0% {
        border-left: 2px solid #000000;
    }

}

/*  ESTILO SOBRE */

section.sobre {
    padding: 40px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .img-selfie {
    width: 350px;
    border-radius: 40px;
    transition: .5s;
}

.sobre .img-selfie:hover {
    box-shadow: 0 0 8px #00b4d8;
    transform: scale(1.05);
}

.sobre .txt-sobre {
    opacity: 0;
}

.sobre .txt-sobre.animate{
    animation: fadeInRight;
    animation-duration: 2s;
    opacity: 1;
}

.sobre .txt-sobre h2 {
    font-size: 26px;
    color: white;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre span {
    color: #00b4d8;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    color: white;
    text-align: justify;
}

.btn-social {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn-social button {
    width: 50px;
    height: 50px;
    border-radius: 30%;
    border: none;
    background-color: #00b4d8;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;

}

/* ESTILO PORTFOLIO */

section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.192);
    
}

section.portfolio .carousel {
    overflow: hidden;
    display: flex;
}

.carousel::-webkit-scrollbar {
    display: none;
}
section.portfolio .carousel .group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 60px;
    animation: spin 24s linear infinite;
    padding-right: 3em;
}

@keyframes spin{
    from { translate: 0;}
    to { translate: -100%;}
}
.img-port {
    flex: 0 0 auto;
    width: 276px;
    height: 345px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    position: relative;
    border-radius: 40px;

}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.432);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    color: white;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

/* ESTILO RODAPÉ */

footer {
    padding: 100px 4%;
    box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.192);
    text-align: center;
    padding-top: 110px;
}

footer .container{
    font-size: 35px;
}

footer .container i {
    color: rgba(255, 255, 255, 0.514);
    padding: 5px;
}

footer .container i.linkedin:hover{
    color: rgb(78, 121, 185);
}

footer .container i:hover {
    color: white;
    transform: scale(1.2);
    transition: .2s;
}

footer .container p {
    color: rgba(255, 255, 255, 0.514);
    font-size: 13px;
    margin-top: 12px;
}

footer .container p a {
    color: white;
}

/* RESPONSIVIDADE */

@media screen and (min-width: 1021px) {
     .barra-lateral {
        display: none !important;
    }
    .overlay-barra {
        display: none !important;
    }

    .btn-barra-lateral{
        display: none !important;
    }
}

@media screen and (max-width: 1020px) {

    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    h2.titulo{
        font-size: 37px;
        line-height: 40px;

    }

    /* CABEÇALHO */
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /* TOPO DO SITE */

    section.topo-do-site .flex {
        gap: 40px;
    }

    section.topo-do-site {
        padding: 20px 8%
    }

    .topo-do-site h1 {
        font-size: 30px;
        
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    /* HARDSKILLS */

    section.skills {
        padding: 40px 8%;
    }
      section.skills .skills-carousel .group {
        gap: 30px;             
        animation: slideSkills 25s linear infinite; 
        padding-right: 6em; 

    .skill-logo {
        width: 35px;
        height: 35px;
    }
}

    /* SOBRE */

    section.sobre{
        padding: 40px 8%;
    }

    .sobre .txt-sobre h2{
        text-align: center;
    }

    .sobre .img-selfie img{
        width: 60%;
    }
    /* PORTFOLIO */

    section.portfolio .flex{
        gap: 60px;
    }

    .portfolio .img-port{
        max-width: 368px;
    }

    /* FOOTER */

    footer .flex{
        flex-direction: column;
    }

    footer .container{
        text-align: center;
    }

}