/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

h2.titulo{
    color:white;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #00b4d8;
}
body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/* ESTILO CABEÇÁRIO */

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color:rgb(148, 148, 148);
    text-decoration: none;
    display: inline-block;
}

header a:hover{
    color: #ffff;
    transform: scale(1.05);
    transition: .2s;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block; /* alinha as li */
    padding: 0 40px;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    background-color:#00b4d8;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover{
    box-shadow: 0px 0px 8px #00b4d8;
    transform: scale(1.05);
}

/* ESTILO TOPO DO SITE */

section.topo-do-site{
    padding: 40px 4%;

}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site .txt-topo-site h1{
    color: white;
    font-size: 40px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site  h1 span{
    color:#00b4d8;
    font-size: 80px;
   letter-spacing: 10px;
   animation: blink 2s infinite alternate;
}

.topo-do-site .txt-topo-site p{
    color: white;
    font-size: 18px;
    margin: 40px 0px;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }

    100%{
        top:30px;
    }
}

@keyframes blink {
  0% {
    color: transparent;
  }
  100% {
    color: 100%;
  }
}

/* ESTILO DAS HARD SKILLS */

section.skills{
    padding: 40px 4%;
}

section.skills .flex{
    gap: 60px
}
.skills .skills-box{
    color: white;
    padding: 40px;
    border-radius: 25px;
    margin-top: 40px;
    transition: 1s;
}

.skills .skills-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.726);
}

.skills .skills-box i{
    font-size: 65px;
}

.skills .skills-box h3{
    font-size: 26px;
    margin: 15px 0px;
}

.skills .skills-box .txt-animado h3{
    font-size: 26px;
    margin: 15px 0px;
}

.skills .skills-box .txt-animado span{
    position:relative;
   
}

.txt-animado span::before{
    content: "";
    color: #00b4d8;
    animation: palavras 20s infinite;
}

.txt-animado span::after{
    content:"";
    position: absolute;
    height: 100%;
    border-left: 2px solid #00b4d8;
    right: 20px;
    animation: cursor 0.8s infinite, typing 20s steps(15) infinite ;
    right: -5px;
    width: calc(100% + 12px);
    background-color: black;
    
}

@keyframes palavras {
    0%, 20%{
        content: "Java";
    }
    21%, 40%{
        content: "Python";
    }
    41%, 60%{
        content: "HTML";
    }
    61%, 80%{
        content: "CSS";
    }
    81%, 100%{
        content: "SQL";
    }
}

@keyframes typing{
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    } 
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
        width: calc(100% + 12px);
    }
}
@keyframes cursor {
    0%{
        border-left: 2px solid #000000;
    }

}

/*  ESTILO SOBRE */

section.sobre{
    padding: 40px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}
.sobre .img-selfie{
    border-radius: 40px;
    transition: .5s;
}

.sobre .img-selfie:hover{
    box-shadow: 0 0 8px #00b4d8;
    transform: scale(1.05);
}

.sobre .txt-sobre h2{
    font-size: 26px;
    color: white;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre span{
    color:#00b4d8;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    color:white;
    text-align: justify;
}

.btn-social{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn-social button{
    width: 50px;
    height: 50px;
    border-radius: 30%;
    border: none;
    background-color: #00b4d8;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
    
}

/* ESTILO PORTFOLIO */

section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.192);
}

section.portfolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-port{
    width: 360px;
    height:460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    position: relative;
    border-radius: 40px;

}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.432);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: white;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/* ESTILO RODAPÉ */

footer{
    padding: 80px 4%;
     box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.192);
}

footer .line-footer .flex{
    justify-content: space-between;
}

footer .line-footer p i{
    color: #00b4d8;
    font-size: 22px;
    background-color: #ffffff00;
}

footer .line-footer p a{
    color: white;
}